pipeline/4_Validate_File_Type.json
{
	"name": "4_Validate_File_Type",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@endswith(activity('Get Metadata1').output.itemName, '.csv')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ValidationResult",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SetFalse",
								"value": {
									"value": "@string('False')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "ValidationResultTrue",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SetTrue",
								"value": {
									"value": "@string('True')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"True": {
				"type": "String"
			},
			"SetTrue": {
				"type": "String"
			},
			"SetFalse": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pl_Exercise_IN1738/Validation"
		},
		"annotations": []
	}
}