pipeline/PL2_IN1735.json
{
	"name": "PL2_IN1735",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"filename": " ",
							"directory_name": "sales",
							"container_name": "input"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().LocationName,variables('location1'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"location1": {
				"type": "String"
			},
			"location2": {
				"type": "String"
			},
			"location3": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF Exercise/Day3 Exercise"
		},
		"annotations": []
	}
}