pipeline/PL_Day_3_Q1_IN1716.json
{
	"name": "PL_Day_3_Q1_IN1716",
	"properties": {
		"description": "Extracting files from folder and identifies latest modified file and copy that into target location.",
		"activities": [
			{
				"name": "GM_listFiles",
				"description": "Extracting files from input",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Bootcamp",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FIle Extraction",
				"description": "Extracting Files from Source",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GM_listFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GM_listFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GM_FileMetadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ADLS_path1",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "IF_Check_Latest",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GM_FileMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(activity('GM_FileMetadata').output.lastModified,variables('latest_time'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Fail1",
										"description": "Validating files",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": "Validation failed due to mismatched files",
											"errorCode": "400"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set_LatestName",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "latest_file_name",
											"value": {
												"value": "@activity('GM_FileMetadata').output.itemName",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set_LatestTime",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "latest_time",
											"value": {
												"value": "@activity('GM_FileMetadata').output.lastModified",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "CP_LatestFile",
				"description": "Copying the Latest file from ADLS to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FIle Extraction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_path1",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('latest_file_name')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sink",
						"type": "DatasetReference",
						"parameters": {
							"container": "output",
							"directory": "IN1716",
							"filename": {
								"value": "@variables('latest_file_name')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"latest_file_name": {
				"type": "String"
			},
			"latest_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PL_Day_3_IN1716"
		},
		"annotations": []
	}
}