pipeline/PL_Day_5_Q2.json
{
	"name": "PL_Day_5_Q2",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dateArray",
					"value": {
						"value": "@range(0, pipeline().parameters.days)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('dateArray')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_HTTP_BINARY",
									"type": "DatasetReference",
									"parameters": {
										"baseUrl": {
											"value": "@concat(\n'https://archive-api.open-meteo.com/v1/archive?latitude=52.52&longitude=13.41&start_date=',formatDateTime(addDays(utcNow(), sub(0,item())), 'yyyy-MM-dd'),'&end_date=',formatDateTime(addDays(utcNow(), sub(0,item())), 'yyyy-MM-dd'),'&hourly=temperature_2m'\n)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BINARY_OUTPUT",
									"type": "DatasetReference",
									"parameters": {
										"container": "output",
										"folder": {
											"value": "@concat(\n'IN1727/weather/',\nformatDateTime(addDays(utcNow(), sub(0,item())), 'yyyy-MM-dd')\n)",
											"type": "Expression"
										},
										"file": "data.json"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"days": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"dateArray": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Ps_Exercises_IN1727/Day_5_Exercise"
		},
		"annotations": []
	}
}