pipeline/PL_Day_5_Q3.json
{
	"name": "PL_Day_5_Q3",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('hasRecord'), false)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat(\n    'https://dummyjson.com/users?limit=10&skip=',\n    variables('skip')\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(activity('Web1').output.users), 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "hasRecord",
											"value": false
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "GET",
												"paginationRules": {
													"supportRFC5988": "true"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"path": "['id']"
														},
														"sink": {
															"name": "id"
														}
													},
													{
														"source": {
															"path": "['firstName']"
														},
														"sink": {
															"name": "firstName"
														}
													},
													{
														"source": {
															"path": "['lastName']"
														},
														"sink": {
															"name": "lastName"
														}
													},
													{
														"source": {
															"path": "['maidenName']"
														},
														"sink": {
															"name": "maidenName"
														}
													},
													{
														"source": {
															"path": "['age']"
														},
														"sink": {
															"name": "age"
														}
													},
													{
														"source": {
															"path": "['gender']"
														},
														"sink": {
															"name": "gender"
														}
													},
													{
														"source": {
															"path": "['email']"
														},
														"sink": {
															"name": "email"
														}
													},
													{
														"source": {
															"path": "['phone']"
														},
														"sink": {
															"name": "phone"
														}
													},
													{
														"source": {
															"path": "['username']"
														},
														"sink": {
															"name": "username"
														}
													},
													{
														"source": {
															"path": "['password']"
														},
														"sink": {
															"name": "password"
														}
													},
													{
														"source": {
															"path": "['birthDate']"
														},
														"sink": {
															"name": "birthDate"
														}
													},
													{
														"source": {
															"path": "['image']"
														},
														"sink": {
															"name": "image"
														}
													},
													{
														"source": {
															"path": "['bloodGroup']"
														},
														"sink": {
															"name": "bloodGroup"
														}
													},
													{
														"source": {
															"path": "['height']"
														},
														"sink": {
															"name": "height"
														}
													},
													{
														"source": {
															"path": "['weight']"
														},
														"sink": {
															"name": "weight"
														}
													},
													{
														"source": {
															"path": "['eyeColor']"
														},
														"sink": {
															"name": "eyeColor"
														}
													},
													{
														"source": {
															"path": "['hair']['color']"
														},
														"sink": {
															"name": "color"
														}
													},
													{
														"source": {
															"path": "['hair']['type']"
														},
														"sink": {
															"name": "type"
														}
													},
													{
														"source": {
															"path": "['ip']"
														},
														"sink": {
															"name": "ip"
														}
													},
													{
														"source": {
															"path": "['address']['address']"
														},
														"sink": {
															"name": "users'][0]['address_address"
														}
													},
													{
														"source": {
															"path": "['address']['city']"
														},
														"sink": {
															"name": "users'][0]['address_city"
														}
													},
													{
														"source": {
															"path": "['address']['state']"
														},
														"sink": {
															"name": "users'][0]['address_state"
														}
													},
													{
														"source": {
															"path": "['address']['stateCode']"
														},
														"sink": {
															"name": "users'][0]['address_stateCode"
														}
													},
													{
														"source": {
															"path": "['address']['postalCode']"
														},
														"sink": {
															"name": "users'][0]['address_postalCode"
														}
													},
													{
														"source": {
															"path": "['address']['coordinates']['lat']"
														},
														"sink": {
															"name": "users'][0]['address_coordinates_lat"
														}
													},
													{
														"source": {
															"path": "['address']['coordinates']['lng']"
														},
														"sink": {
															"name": "users'][0]['address_coordinates_lng"
														}
													},
													{
														"source": {
															"path": "['address']['country']"
														},
														"sink": {
															"name": "users'][0]['address_country"
														}
													},
													{
														"source": {
															"path": "['macAddress']"
														},
														"sink": {
															"name": "macAddress"
														}
													},
													{
														"source": {
															"path": "['university']"
														},
														"sink": {
															"name": "university"
														}
													},
													{
														"source": {
															"path": "['bank']['cardExpire']"
														},
														"sink": {
															"name": "cardExpire"
														}
													},
													{
														"source": {
															"path": "['bank']['cardNumber']"
														},
														"sink": {
															"name": "cardNumber"
														}
													},
													{
														"source": {
															"path": "['bank']['cardType']"
														},
														"sink": {
															"name": "cardType"
														}
													},
													{
														"source": {
															"path": "['bank']['currency']"
														},
														"sink": {
															"name": "currency"
														}
													},
													{
														"source": {
															"path": "['bank']['iban']"
														},
														"sink": {
															"name": "iban"
														}
													},
													{
														"source": {
															"path": "['company']['department']"
														},
														"sink": {
															"name": "department"
														}
													},
													{
														"source": {
															"path": "['company']['name']"
														},
														"sink": {
															"name": "name"
														}
													},
													{
														"source": {
															"path": "['company']['title']"
														},
														"sink": {
															"name": "title"
														}
													},
													{
														"source": {
															"path": "['company']['address']['address']"
														},
														"sink": {
															"name": "users'][0]['company_address_address"
														}
													},
													{
														"source": {
															"path": "['company']['address']['city']"
														},
														"sink": {
															"name": "users'][0]['company_address_city"
														}
													},
													{
														"source": {
															"path": "['company']['address']['state']"
														},
														"sink": {
															"name": "users'][0]['company_address_state"
														}
													},
													{
														"source": {
															"path": "['company']['address']['stateCode']"
														},
														"sink": {
															"name": "users'][0]['company_address_stateCode"
														}
													},
													{
														"source": {
															"path": "['company']['address']['postalCode']"
														},
														"sink": {
															"name": "users'][0]['company_address_postalCode"
														}
													},
													{
														"source": {
															"path": "['company']['address']['coordinates']['lat']"
														},
														"sink": {
															"name": "users'][0]['company_address_coordinates_lat"
														}
													},
													{
														"source": {
															"path": "['company']['address']['coordinates']['lng']"
														},
														"sink": {
															"name": "users'][0]['company_address_coordinates_lng"
														}
													},
													{
														"source": {
															"path": "['company']['address']['country']"
														},
														"sink": {
															"name": "users'][0]['company_address_country"
														}
													},
													{
														"source": {
															"path": "['ein']"
														},
														"sink": {
															"name": "ein"
														}
													},
													{
														"source": {
															"path": "['ssn']"
														},
														"sink": {
															"name": "ssn"
														}
													},
													{
														"source": {
															"path": "['userAgent']"
														},
														"sink": {
															"name": "userAgent"
														}
													},
													{
														"source": {
															"path": "['crypto']['coin']"
														},
														"sink": {
															"name": "coin"
														}
													},
													{
														"source": {
															"path": "['crypto']['wallet']"
														},
														"sink": {
															"name": "wallet"
														}
													},
													{
														"source": {
															"path": "['crypto']['network']"
														},
														"sink": {
															"name": "network"
														}
													},
													{
														"source": {
															"path": "['role']"
														},
														"sink": {
															"name": "role"
														}
													},
													{
														"source": {
															"path": "$['total']"
														},
														"sink": {
															"name": "total"
														}
													},
													{
														"source": {
															"path": "$['skip']"
														},
														"sink": {
															"name": "skip"
														}
													},
													{
														"source": {
															"path": "$['limit']"
														},
														"sink": {
															"name": "limit"
														}
													}
												],
												"collectionReference": "$['users']"
											}
										},
										"inputs": [
											{
												"referenceName": "RestResource1",
												"type": "DatasetReference",
												"parameters": {
													"base_url": {
														"value": "@concat(\n    'https://dummyjson.com/users?limit=10&skip=',\n    variables('skip')\n)",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SQL_TABLE_OUTPUT",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"skip": {
				"type": "Integer"
			},
			"hasRecord": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "Ps_Exercises_IN1727/Day_5_Exercise"
		},
		"annotations": []
	}
}