pipeline/PL_Day_2_Q5_IN1716.json
{
	"name": "PL_Day_2_Q5_IN1716",
	"properties": {
		"description": "Retrieving all Child items",
		"activities": [
			{
				"name": "GM_ChildItems",
				"description": "",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Reterive Child Items",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GM_ChildItems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('GM_ChildItems').output.childItems), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"description": "Validating the file and folders",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Validation failed due to wrong path",
								"errorCode": "400"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "PL_Day_2_IN1716/IN1716_Meta_Data"
		},
		"annotations": []
	}
}