pipeline/PL_Validation_IN1716.json
{
	"name": "PL_Validation_IN1716",
	"properties": {
		"description": "Complete Validating folder existence, file existence, file type, and file size",
		"activities": [
			{
				"name": "Folder Validation",
				"description": "Validating Folder atleast minimum file consists or not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"description": "Validating the Folder",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Validation failed Provide valid Folder",
								"errorCode": "400"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Get Metadata4",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"ds_folder_path": " ",
										"ds_dir_path": " ",
										"ds_container_path": "input"
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			},
			{
				"name": "Size Validation",
				"description": "Validating FIle Exists or not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Folder Validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Get Metadata4').output.childItems),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail2",
							"description": "validating the file exists or not",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Validation Failed no file present in that particular ADLS",
								"errorCode": "400"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Get Metadata2",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"ds_folder_path": {
											"value": "@activity('Get Metadata4').output.childItems[0].name",
											"type": "Expression"
										},
										"ds_dir_path": " ",
										"ds_container_path": "input"
									}
								},
								"fieldList": [
									"size",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"description": "Validating the Pipeline of the folder Structure and file exists or not and file format and file size",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference",
						"parameters": {
							"ds_folder_path": "  ",
							"ds_dir_path": " ",
							"ds_container_path": "input"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "File Type Validation",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Size Validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@endswith(activity('Get Metadata2').output.itemName,'.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "PL_Day_2_IN1716/IN1716_Validation"
		},
		"annotations": []
	}
}