pipeline/Test03_RowCount_IN1734.json
{
	"name": "Test03_RowCount_IN1734",
	"properties": {
		"activities": [
			{
				"name": "LookupSource",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\nselect count(*) as count  from Store_Source_IN1734",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_TABLE",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Store_Source_IN1734"
						}
					}
				}
			},
			{
				"name": "LookupTarget",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select count(*) as count  from Dim_Store_IN1734\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_TABLE",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Dim_Store_IN1734"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount validation",
					"value": {
						"value": "@activity('LookupSource').output.firstRow.count",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupTarget",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Row Count Vaildation",
					"value": {
						"value": "@activity('LookupTarget').output.firstRow.count",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Row Count Vaildation'),variables('RowCount validation') )",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable4",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Test Failed",
								"value": {
									"value": "Row Count Does not Match",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TestPass",
								"value": {
									"value": "Row Count Matched",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"RowCount validation": {
				"type": "Integer"
			},
			"Row Count Vaildation": {
				"type": "Integer"
			},
			"TestPass": {
				"type": "String"
			},
			"Test Failed": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Testing"
		},
		"annotations": []
	}
}