pipeline/Test02_transformation_IN1734.json
{
	"name": "Test02_transformation_IN1734",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT count(*) as missmatchcount\nFROM Authors_Source_IN1734 as s\nJOIN Dim_Author_IN1734 as t\nON s.phone=t.Author_Phone\nWhere LEFT(s.au_lname,1) + '-' + s.au_fname <> t.Author_Name\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_TABLE",
						"type": "DatasetReference",
						"parameters": {
							"TableName": " "
						}
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup1').output.firstRow.missmatchcount, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Transformation_Validation",
								"value": {
									"value": "Tarnsformations Matched ",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Validation",
								"value": {
									"value": "Transformations not matched",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Validation": {
				"type": "String"
			},
			"Transformation_Validation": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Testing"
		},
		"annotations": []
	}
}